@CHARSET "UTF-8";
.chartTestLayer{
	border:2px solid peachpuff;
	width:auto;
	height:auto;

}
svg{
	background-color: white;

}

.axis path,
.axis line{

	fill:none;
	stroke:pink;
	shape-rendering: crispEdges;
}
.axis text{
	font-size: 10px;
	color: blueviolet;
}

div.tooltip {
	position: absolute;	
	text-align: center;	
	min-width: 60px;
	width:auto;
	height:auto;
	padding: 3px 5px;
	font: 12px sans-serif;	
	background: #fff;
	border: 0px;
	border-radius: 10px;
	opacity:1;
	z-index:5;
 	display: none;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
